In [ ]:
#Python Input and Output Exercise

In [ ]:
#Question one
#Write a program to accept two numbers from the user and calculate multiplication

In [1]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))

res = num1 * num2
print("Multiplication is", res)

Enter first number 1
Enter second number 2
Multiplication is 2

In [ ]:
#Question two
#Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [7]:
print('my','name' ,'is', 'james', sep='**')

my**name**is**james

In [ ]:
#Question Three
#Convert Decimal number to octal using print() output formatting

In [3]:
num= 8
print(oct(num))

0o10

In [ ]:
#Question Four
#Display float number with 2 decimal places using print()

In [4]:
num = 458.541315
print('%.2f' % num)

458.54

In [ ]:
#Question Five
# Accept a list of 5 float numbers as an input from the user

In [8]:
numbers = []
for i in range(0, 5):
    print("Enter number at location", i, ":")
    item = float(input())
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :
1.2
Enter number at location 1 :
2.2
Enter number at location 2 :
3.3
Enter number at location 3 :
4.5
Enter number at location 4 :
6.7
User List: [1.2, 2.2, 3.3, 4.5, 6.7]